= button_to 'Add to favorites', favorite_stocks_path(stock_id: stock_id ), method: :post, remote: true, class: 'btn btn-primary btn-sm', id: "favorite-stock-btn-#{stock_id}", data: { favorite_stock_btn_id: stock_id }