= button_to 'Add to favorites', favorite_stocks_path(stock_id: stock_id ), method: :post, remote: true, class: 'bg-gray-200 hover:bg-gray-300 text-xs border border-gray-700 rounded-md p-2', id: "favorite-stock-btn-#{stock_id}", data: { favorite_stock_btn_id: stock_id }
