= button_to 'Remove from favorites', favorite_stock_path(stock_id), method: :delete, remote: true, class: 'btn btn-primary btn-sm', id: "favorite-stock-btn-#{stock_id}", data: { favorite_stock_btn_id: stock_id }