- close_quotes = @quotes.pluck(:close)
- max_scale = close_quotes.max/100 * 1.01
- min_scale = close_quotes.min/100 * 0.99
= line_chart(@quotes.map {|q| [q.date, q.close.to_f/100]}, curve: false, min: min_scale, max: max_scale, zeros: true, points: false, id: 'stock_chart')